/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2017, 8:04:51 AM
    Author     : apolan
*/

.white40{
    color:#cccccc;
}

.white{
    color:#ffffff;
}

.yellow{
    color:#ffffff;
}

.purple{
    color: #cc00ff;
}



.black80{
    color:#1a1a1a;
}